body{
  font-family: "Ubuntu";
  text-align: center;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6{
  font-weight: bold;
}

p, a{
  color: #8f8f8f;
}

/* Headings */
.big-heading{
  font-family: "Pacifico";
  font-weight: normal;
  font-size: 3rem;
  line-height: 1.5;
}

.section-heading{
  font-family: "Pacifico";
  font-weight: normal;
  font-size: 2rem;
  line-height: 1.5;
}
/* containers */
.container-fluid{
padding: 6% 12%;
}
.container{
  padding: 2% 1%;
}
/* Sections */
.colored-section{
  background-color: #1a1a2e;
  color: #fff;
}
.white-section{
  background-color: #fff;
  color: #1a1a2e;
}
/* Navigation Bar */
#nav .container-fluid{
  padding: 1% 8%;
  position: fixed;
  background-color: #1a1a2e;
  z-index: 1;

}
.navbar{
  padding: 0;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.bismillah-logo{
  width: 20%;
}

.miracle-logo{
  width: 10%;
}

.nav-item{
  padding: 0px 8px;
}
.nav-link{
  font-size: 1.5rem;
  font-weight: lighter;
}

.dropdown-menu{
  opacity: 80%;
  background-color: #1a1a2e;
}

.dropdown-item{
  color: white;
  text-align: center;
}

/* Title Section */

#title .container-fluid{
  padding: 10% 8% 3%;
  text-align: left;

}
.second-column{
  text-align: center;
}
/* Download Buttons */
.download-button{
margin: 5% 3% 5% 0;
}
/* Phone Image */
.img-title{
border-radius: 100%;
width: 60%;
}

/* Promociones Section */
#features{
  padding-bottom: 1px;
}

.feature-box{
  padding: 5%;
}

.promo-imagenes{
  width: 100%;
  border-radius: 10%;
  margin-bottom: 10%;
}
#features .container-fluid{
  padding: 1% 8% 3%;
}

#features .container{
  padding: 4% 1% 1%;
}
.carousel-button{
  width: 50px;
  height: 50px;
}

/* Testimonial Section */

#testimonials{
background-color: #e94560;
}

.testimonial-text{
  font-size: 2rem;
  line-height: 1.5;
}

.testimonial-img{
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}
/* Who are we page */
#whoare{
  padding: 10% 30%;
}

/* Pricing and event section */
#pricing{
padding: 0;
}
#events{
padding: 100px;
}

.price-text{
  font-size: 2rem;
  line-height: 1.5;
}

.pricing-column{
  padding: 3% 2%;
}

.sign-button{
margin-top: 25px;
}

.form-inline{
  margin-left: 35%;
}
.form-group{
  margin-right: 2%;
}
/* Whatsapp icon */
#fixedbutton{
  padding: 1px;
  text-align: right;
  font-size: 3.5rem;
  position:  fixed;
  bottom: 1%;
  right: -10%;
}

.whatsapp-button{
  width: 20%;
}
/* Footer */
#footer{
  padding: 5%;
}
.icons-media{
  color: #1a1a2e;
  padding: 3% 1% 2%;
}

.bismillah-footer{
  width: 50%;
}

.experiencias-footer{
  margin-bottom: 0px;
}
.equipo-miracle{
  margin-top: 2.5%;
}
/* Smaller Displays */
@media (max-width:1028px){
  .navbar-toggler{
    font-size: 2rem;
    border-radius: 10%;
    background-color: #e94560;
  }
  #title .container-fluid{
    text-align: center;
    padding: 14% 8% 3%;
  }
  .second-column{
    text-align: center;
  }
  .bismillah-logo{
    width: 30%;
  }

  .miracle-logo{
    width: 20%;
  }

  p, a{
    font-size: 1.5rem;
    font-weight: bold;
  }
  /* register newsletter */
  .form-inline{
    margin-left: 25%;
  }
/* footer */
  .bismillah-footer{
    width: 25%;
  }

  .icons-media{
    font-size: 3.5rem;
}
/* fixed button */
#fixedbutton{
  right: -15%;
}
.whatsapp-button{
  width: 30%;
}
}
